In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('data/adult.data.csv')

In [39]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [79]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [69]:
a = list(df['race'].value_counts())
a

[27816, 3124, 1039, 311, 271]

In [73]:
type(a)

list

In [42]:
pd.Series(df['race'].value_counts()).to_list()

[27816, 3124, 1039, 311, 271]

In [53]:
round(df[df['sex'] =='Male']['age'].mean(),1)

39.4

In [7]:
df[df['education'] == 'Bachelors']['education'].count()

5355

In [8]:
df['education'].count()

32561

In [56]:
round((df[df['education'] == 'Bachelors']['education'].count()/df['education'].count())*100,1)

16.4

In [57]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
#df.query('a == 4 & b != 2')
df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')
  ]['education'].count()

7491

In [11]:
#  df[
#      (df['salary'] == '>50K')
#      & 
#      (df[
#         (df['education'] == 'Bachelors')| 
#         (df['education'] == 'Masters') |
#         (df['education'] == 'Doctorate')])
#   ]

In [58]:
df2 =  df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')]
df2[df2['salary'] == '>50K']['salary'].count()

3486

In [63]:
round((df2[df2['salary'] == '>50K']['salary'].count()/len(df2))*100,1)

46.5

In [66]:
df3 =  df[
        (df['education'] != 'Bachelors')&
        (df['education'] != 'Masters') &
        (df['education'] != 'Doctorate')]
df3[df3['salary'] == '>50K']['salary'].count()

4355

In [68]:
round((df3[df3['salary'] == '>50K']['salary'].count()/len(df3))*100,1)

17.4

In [80]:
(df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count())

29075

In [61]:
3486*100/7491

46.535843011613935

In [14]:
(df2[df2['salary'] == '>50K']['salary'].count()/df['education'].count())*100

10.706059396210192

In [15]:
(((df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count()))/df['education'].count())*100

89.2939406037898

In [16]:
89.2939406037898+10.706059396210192

100.0

In [17]:
#((df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(len(df)))*100

In [131]:
(df['hours-per-week']== df['hours-per-week'].min()).sum()

20

In [137]:
round((((df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')).sum())/(df['hours-per-week']== df['hours-per-week'].min()).sum()*100,1)

10.0

In [102]:
p = (df[df['salary'] =='>50K']['native-country'].value_counts()
/df['native-country'].value_counts()*100).sort_values(ascending=False)
p[0]

41.86046511627907

In [144]:
df[(df['salary'] =='>50K')& (df['native-country']=='India')]['occupation'].value_counts().index[0]

'Prof-specialty'

In [103]:
# # print(S1)

# df_country = df[df['salary']=='>50K'].groupby('native-country',as_index=False).size()

# df4 = df_country.sort_values(by='size', ascending=False)
# # ((df4['size'])/(df_country['size'].sum()))*100
# df4

In [104]:
# totalcount=df[df['salary']=='>50K'].count().iloc[0]
# df1 = df[df['salary']=='>50K'].groupby('native-country',as_index=False).size()
# print(df1)
# df1.columns=['country','50Kcount']
# df1['percentcount']=df1['50Kcount']/totalcount*100

In [23]:
#df[df['salary']=='>50K']['occupation'].value_counts()
df5 = df[df['salary']=='>50K'].groupby('occupation', as_index=False).size()
df6 = df5.sort_values(by='size', ascending=False).head(1)
df6['occupation']

4    Exec-managerial
Name: occupation, dtype: object

In [24]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('data/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()
    
    # What is the average age of men?
    average_age_men = df['age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (df[df['education'] == 'Bachelors']['education'].count()/df['education'].count())*100

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    df2 =  df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')]
    
    
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df2[df2['salary'] == '>50K']['salary'].count()
    lower_education = (df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count())

    # percentage with salary >50K
    higher_education_rich = (df2[df2['salary'] == '>50K']['salary'].count()/df['education'].count())*100
    lower_education_rich = (((df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count()))/df['education'].count())*100

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (len(df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(len(df)))*100

    rich_percentage = 100 - (len(df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(len(df)))*100

    # What country has the highest percentage of people that earn >50K?
    df_country = df[df['salary']=='>50K'].groupby('native-country',as_index=False).size()
    highest_earning_country = df_country.sort_values(by='size', ascending=False).head(1)
    df4 = df_country.sort_values(by='size', ascending=False).head(1)
    
    highest_earning_country_percentage = ((df4['size'])/(df_country['size'].sum()))*100
                                                                                                                     

    # Identify the most popular occupation for those who earn >50K in India.
    #df[df['salary']=='>50K']['occupation'].value_counts()
    df5 = df[df['salary']=='>50K'].groupby('occupation', as_index=False).size()
    df6 = df5.sort_values(by='size', ascending=False).head(1)



    top_IN_occupation = df6['occupation']

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [25]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 38.58164675532078
Percentage with Bachelors degrees: 16.44605509658794%
Percentage with higher education that earn >50K: 10.706059396210192%
Percentage without higher education that earn >50K: 89.2939406037898%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 99.9938576825036%
Country with highest percentage of rich:    native-country  size
37  United-States  7171
Highest percentage of rich people in country: 37    91.455172
Name: size, dtype: float64%
Top occupations in India: 4    Exec-managerial
Name: occupation, dtype: object

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 38.58164675532078,
 'percentage_bachelors': 16.44605509658794,
 'higher_education_rich': 10.706059396210192,
 'lower_education_rich': 89.2939406037898,
 'min_work_hours': 1,
 'rich_percentage': 99.9938576825036,
 'highest_earning_country':    native-country  size
 37  United-States  7171,
 'highest_earning_country_percentage': 37    91.455172
 Name: size, dtype: float64,
 'top_IN_occupation': 4    Exec-managerial
 Name: occupation, dtype: object}

In [ ]:
# Final 

import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a 
    # Pandas series with race names as the index labels.
    
    race_count = df['race'].value_counts()
    
    # What is the average age of men?
    average_age_men = round(df[df['sex'] =='Male']['age'].mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((df[df['education'] == 'Bachelors']['education'].count()/df['education'].count())*100,1)


    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    higher_education =  df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')]
    
    
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    

    # percentage with salary >50K
    higher_education_rich = round((higher_education[higher_education['salary'] == '>50K']['salary'].count()/len(higher_education))*100,1)

    df3 =  df[
        (df['education'] != 'Bachelors')&
        (df['education'] != 'Masters') &
        (df['education'] != 'Doctorate')]
     #df3[df3['salary'] == '>50K']['salary'].count()

    lower_education_rich = round((df3[df3['salary'] == '>50K']['salary'].count()/len(df3))*100,1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df['hours-per-week'].min()
    

    rich_percentage = round((((df['hours-per-week']== num_min_workers) & (df['salary']== '>50K')).sum())/(df['hours-per-week']== num_min_workers).sum()*100,1)
    

    # What country has the highest percentage of people that earn >50K?
    p = (df[df['salary'] =='>50K']['native-country'].value_counts()
/df['native-country'].value_counts()*100).sort_values(ascending=False)


    highest_earning_country = p.index[0]
    highest_earning_country_percentage = round(p.iloc[0],1)
                                                                                                                     

    # Identify the most popular occupation for those who earn >50K in India.
    


    top_IN_occupation = df[(df['salary'] =='>50K')& (df['native-country']=='India')]['occupation'].value_counts().index[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }