In [100]:
import pandas as pd
import numpy as np

In [101]:
df = pd.read_csv('data/adult.data.csv')

In [102]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [103]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [104]:
df['age'].mean()

38.58164675532078

In [105]:
df[df['education'] == 'Bachelors']['education'].count()

5355

In [106]:
df['education'].count()

32561

In [107]:
(df[df['education'] == 'Bachelors']['education'].count()/df['education'].count())*100

16.44605509658794

In [108]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
#df.query('a == 4 & b != 2')
df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')
  ]['education'].count()

7491

In [126]:
#  df[
#      (df['salary'] == '>50K')
#      & 
#      (df[
#         (df['education'] == 'Bachelors')| 
#         (df['education'] == 'Masters') |
#         (df['education'] == 'Doctorate')])
#   ]

In [112]:
df2 =  df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')]
df2[df2['salary'] == '>50K']['salary'].count()

In [119]:
(df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count())

29075

In [122]:
(df2[df2['salary'] == '>50K']['salary'].count()/df['education'].count())*100

10.706059396210192

In [124]:
(((df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count()))/df['education'].count())*100

89.2939406037898

In [125]:
89.2939406037898+10.706059396210192

100.0

In [135]:
#((df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(len(df)))*100

In [141]:
(len(df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(len(df)))*100

0.006142317496391388

In [133]:
len(df)

32561

In [151]:
df_country = df[df['salary']== '>50K']['native-country'].value_counts()
df_country.max()

7171

In [ ]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('data/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()
    
    # What is the average age of men?
    average_age_men = df['age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (df[df['education'] == 'Bachelors']['education'].count()/df['education'].count())*100

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    df2 =  df[
        (df['education'] == 'Bachelors')| 
        (df['education'] == 'Masters') |
        (df['education'] == 'Doctorate')]
    
    
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df2[df2['salary'] == '>50K']['salary'].count()
    lower_education = (df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count())

    # percentage with salary >50K
    higher_education_rich = (df2[df2['salary'] == '>50K']['salary'].count()/df['education'].count())*100
    lower_education_rich = (((df['education'].count()) - (df2[df2['salary'] == '>50K']['salary'].count()))/df['education'].count())*100

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = (len(df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(l

    rich_percentage = 100 - (len(df[(df['hours-per-week']== df['hours-per-week'].min()) & (df['salary']== '>50K')])/(l

    # What country has the highest percentage of people that earn >50K?
    highest_earning_country = None
    highest_earning_country_percentage = None

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [27]:
df1= pd.DataFrame({'col1': [1,4,5], 'col2':[4,6,3]})

#d = {'col1': [1, 2], 'col2': [3, 4]}

In [28]:
df1

   col1  col2
0     1     4
1     4     6
2     5     3

In [29]:
df1[df1['col1'][1,2]]

KeyError: 'key of type tuple not found and not a MultiIndex'